.container {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.input label {
	display: block;
	margin-bottom: 1rem;
}

.input input {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 2rem;
}

.buttons button {
	background-color: #008CBA;
	color: #fff;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	margin-right: 1rem;
	cursor: pointer;
}

.buttons button:hover {
	background-color: #005F6B;
}

.output p {
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.output span {
	font-weight: bold;
}